@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

a {
    text-decoration: none;
    color: black;
}

.wrap {
    margin: 0 auto;
    max-width: 375px;
    height: 100%;
    background-color: #ffffff;
}


  
.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: flex-start;
    
}
  
.container-items {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
  
}

  

.footer {
    max-width: 375px;
    display: flex;
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
}
  
  
.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
}
  
.fa-home {
    display: flex;
    color: #8C94A4;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-bottom: 2px;
}
  
  
  
.fa-comment-dots {
    display: flex;
    color: #8C94A4;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-bottom: 2px;
}
