@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
#profileForm {
    min-height: 100vh;
    width:435px;
    margin: 0 auto;
    padding: 5%;
    
}
.makeProfile{
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height, or 114% */
    padding: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;

    color: #222222;
}

.box {
    /* position: absolute; */
    /* padding-top:100px; */
    padding-right:200px;
    display:flex;
    flex-direction:column;
  }

  .boxlist {
    background:#dbedff;
    border: solid 1px #18a0fb;
    width: 295px;
    height: 59px;
    border-radius: 8px;
    box-shadow: 0 2px 28px 0 rgba(75, 88, 208, 0.15);
    margin: 15px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    padding-left:15px;
    margin: 17px 48px 11px 32px;
    padding: 14px 26px 13px 24px;


  }

  .name{
    width: 120x px;
    height: 32px;
    margin: 0 94px 0 0;
    font-family: SpoqaHanSansNeo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: -0.07px;
    text-align: left;
    color: #18a0fb;
  }

  .balance{
    width: 33px;
    height: 32px;
    margin: 0 0 0 94px;
    font-family: SpoqaHanSansNeo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: -0.06px;
    text-align: left;
    color: #18a0fb;

  }