{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '4_chat/friend_profile.css' %}">
{% endblock css %}

{% block container %}

<body>
    <div class = "talk">
        <div class="talk">
            <div class="talk-text">talk하기</div>
        </div>      
        <div class="profile" >
            <img class="profile" style="width: 40px; height: 40px;" src="{% static 'img/default_photo.png' %}" >
            <div class="profiletext">미개봉새내기</div>
            <div class="smallprofiletext">환경생태공학부</div>
            <div class="smallprofiletext">17</div>
            <div class="smallprofiletext">여성</div>
        </div>

<div class ="box">
    <ul>
        <li class="boxlist">
            <div class="bank">
                <span class="name">디자인 방법론 실기2</span>
                <span class="balance">양효령</span>
            </div>
        </li>
        <li class="boxlist">
                <span class="name">1학년 세미나</span>
                <span class="balance">김정용</span>
            </div>
        </li>
        <li class="boxlist">
            <div class="bank">
                <span class="name">전통회화연구</span>
                <span class="balance">정이든</span>
            </div>
        </li>
    </ul>
</div>
</div>    
    
</body>
</html>
</html>
 
{% endblock container %}
  

