{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '4_chat/friends.css' %}">
{% endblock css %}

{% block container %}
<div>
    <a href="{% url 'home' %}"><</a>
    <h1>{{ lecture.subject }} 수강친구</h1>
    <p>수업을 독강하는 친구에게 톡을 걸어보세요</p>
    <ul>
        {% for plr in plrs %}
        <a href="{% url 'makeroom' plr.profile.pk %}" >
            <div class="friend-bar">
                <img class="profile-img" src="{{ plr.profile.photo.url }}">
                <div>
                    <div>{{ plr.profile.nickname }}</div>
                    <p>{{ plr.profile.introduce }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endblock container %}
